Django>=4.2,<5.0
gunicorn
mysqlclient>=2.2.0

django-environ==0.11.2
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-storages==1.14.4
django-bootstrap5==24.2

whitenoise==6.7.0
python-dotenv==1.0.1
requests==2.31.0
pillow==10.3.0
